* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 500ms all ease;

  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerWrapper {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.items {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: auto;
  width: 90%;
  border-radius: 10px;
}
.items::-webkit-scrollbar {
  display: none;
}

.arrowBack,
.arrowForward {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 2rem;
  cursor: pointer;
  background-color: lightgray;
  padding: 20px 10px;
  transform: translateY(-50%);
}
.arrowForward {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
}
.arrowBack {
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.SingleItem {
  min-width: 300px;
  background-color: crimson;
}
.SingleItem .title {
  text-align: center;
}
